<section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Search Results</h2> 
            <p class="text-white-50">
            <% if @dogs.empty? %>
                <h2 class="text-white mb-4">No results have been found.</h2>
            <% else %>
                <% @dogs.each do |breeds| %>
                   <li> <%= link_to breeds.MainBreedName, results_search_index_path %> </li>
                <% end %>
            <% end %>
            </p>
          </div>
        </div>
    </div>
</section>

   