
<section id="about" class="about-section text-center">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-white mb-4">About This Site!</h2>
      <p class="text-white-50">
     
      This site is meant for people who love looking at lists of dogs that do not include pictures! 
      Here you are able to browse a list of dogs and when you find a dog that interests you, click on it!
      This will bring you to a separate page with a little bit of info about the dog!

      </p>
    </div>
  </div>
</section>


