<h3>Heres a list of dogs!</h3>

<%= paginate @dogs %>

<ul>
    <% @dogs.each do |dog| %>
        <li> 
            <%= link_to dog.main_breed.MainBreedName, dog %> 
        </li>
    <% end %>
</ul>
